<div class="top"></div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top img" src="../../assets/director.jpg" alt="Card image cap">
    <div class="card-body picture-size: 50px">
      <h5 class="card-title">Sofia Smith</h5>
      <p class="card-text">Profession: Transitional housing program coordinator. Graduated: UCLA with 1 PHD in Psychology, 1 Master in Education
        and 1 Master in Chil Development.

      </p>

    </div>
  </div>


  <div class="card">
    <img class="card-img-top img" src="../../assets/judgw.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img" src="../../assets/Roberto S.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top img" src="../../assets/Cecilia.jpg" alt="Card image cap">
    <div class="card-body picture-size: 50px">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img" src="../../assets/Tony.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img" src="../../assets/Joy.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top img" src="../../assets/Frank.jpg" alt="Card image cap">
    <div class="card-body picture-size: 50px">
      <h5 class="card-title">Sofia Smith</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img" src="../../assets/Mely.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img" src="../../assets/Roberto S.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Hello</p>
    </div>
  </div>
</div>