<div class="top"></div>
<!-- <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../../assets/ant.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Name: Rogelio Garcia
      <br> Age: 25
      <br> Position:Student
      <br> Attends to: Pasadena City College
      <br>Contact email: rglgarcia77@gmail.com</p>
  </div>
</div> -->
<div class="jumbotron jumbotron-fluid space top" >
    <div class="container ">
      <h1 class="display-4 font">GUIDE ME! COACH ME!  HELP ME TO THE RIGHT PATH!</h1>
      <p class="lead font">We all need guidance in our life, specially foster youth. We created </p>
    </div>
  </div>

  <div class="container picture">
      <div class="row">
        <div class="col">
            <img class="card-img-top" src="../../assets/goku.jpg" alt="Card image cap">
        </div>
        <div class="col">
            <p class="card-text">Name: Rogelio Garcia
                <br> Age: 25
                <br> Position:Student
                <br> Attends to: Pasadena City College
                <br>Contact email: rglgarcia77@gmail.com</p>
        </div>
      </div>
    </div>



<div class="card bg-dark text-white">
  <img class="card-img" src="../../assets/leave.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Bio</h5>
    <p class="card-text">Hello! My name is Rogelio Garcia I am the cofounder of FosterMe.
      <br> I am currently in school at Pasadena city college, my plan is to major in Computer Engineering. We created this website
      with the goal in helping Foster youth. Our vision is that all foster youth in High School can have somone they can
      look up to.
      <br> We are always looking for people with positive attitude and optimistic characters to make an impact a child's life
      and improve their community at the same time. Don't be afraid to share your life experiences, profession, and your
      wisdom to foster youth who needs guidance.</p>
    <p class="card-text">Lets take these kids to a better world</p>
  </div>
</div>