<div class="box">
  <div class="loginTitle">FosterMe</div>
<form class="login">
    <div class="form-group">
      <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>