<div class="box">
  <div class="loginTitle">FosterMe</div>
  <form class="login">
    <div class="form-group">
      <div class="form-group">
        <input type="text" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name"
          required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Age" required>
      </div>
      <h1>Gender</h1>
      <div class="form-group">
        <input type="radio" id="radioButton" value="male" required>Male
        <br>
        <input type="radio" id="radioButton" value="female" required>Female
      </div>
      <div class="form-group">
        <input type="phone" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number (optional)">
      </div>
      <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
        required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div class="form-group form-check">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<p>hello people</p>