
<nav class="navbar top fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active"> <img class="card-img-top img" src="../assets/hands.png" alt="Card image cap"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">Founder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resource" routerLinkActive="active">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>

<nav class="navbar bottom sticky-bottom navbar-light bg-light">
    
</nav>
