<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 header"> Welcome 2 FosterMe</h1>
    <p class="lead">Our missions is to find mentors and connect you with foster youth in High School. Our goal is to teach foster youth to
      gain dicipline and learn study habits.
    </p>
    <p class="quote">"Don't be afraid to open your mind to different directions" - Rogelio Garcia</p>
  </div>
</div>

<div class="container summary">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top img" src="../../assets/connect.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">We help Foster Youth to find mentors in their local area.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top img" src="../../assets/network.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">We help foster youth build connection with proffesionals</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top img" src="../../assets/resource.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">We also help them find similar resources according to their age.</p>
        </div>
      </div>
    </div>
  </div>
</div>